@font-face{
font-family:'sweet16';
src: url('res/Sweet16.ttf') format('truetype');
}
body{
    background: #606060;
    color: #E74776;
    margin-left: 25vw;
    margin-right: 30vw;
    margin-top: 15vh;
    margin-bottom: 10vh;
    text-align: center;

}
.term{
    background: #060315;
    border: 1px solid #d52f72;
    display: inline-flex;
    padding-bottom: 56.25%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px;
    width: 100%;
    text-decoration: none;
    -webkit-box-shadow: 9px 20px 50px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 9px 20px 50px -5px rgba(0,0,0,0.6);
    box-shadow: 9px 20px 50px -5px rgba(0,0,0,0.6);
}
.text{
    text-align: left;
    font-family: 'Sweet16', sans-serif;
    font-size: 16px;
}
.prompt{
    color:#941786;
}
.stout{
    color:#e49ab9;
}
.column1 a{
  text-decoration: none;
  outline: none;
}
.column2 a{
  text-decoration: none;
  margin-left: 10px;
  outline: none;
}
